*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f4f4f4d7;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;
}
.navbar-brand{
    font-size: 7vh;
    padding-left: 3vw;
    padding-top: vh;
    padding-bottom: 2vh;
    z-index: 2;
    margin-right: 2vw;
    font-weight: bolder;
    color: #0353e7;
}
.signup_btn{
    color: white;
    border: 0;
    padding: 1vh;
    background-color: #0353e7;
    width: 10vw;
    border-radius: 0.2em;
    font-size: 3vh;
    margin-right: 2vw;
    position: absolute;
    left: 80vw;
}
.signin_link{
    color: white;
    text-decoration: none;
}
.signin_link:hover{
    color: white;
}
#carouselExampleIndicators{
    margin-top: 20;
}
/* .navbar{
    display: flex;
    height: 15vh;
    background-color: #5577B4;
    box-shadow: 3px 3px 5px black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar ul{
    display: flex;
    list-style: none;

}
.navbar ul li{
    padding-left: 3vw;
    padding-top: 5vh;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
    font-size: 4vh;
} */
.navbar{
    width: 100%;
    position: fixed;
    height: 12vh;
    color: white;
    z-index: 1;
}
.container{
    margin-left: 18vw;
    position: absolute;
    top: 19vh;
    background-color: white;
    padding: 3vh;
    width: 63vw;
    border-radius: 0.5em;
}
.customer_info{
    margin-top: 1vh;
    font-weight: normal;
    font-size: 5vh;
    text-align: center;
}
.shopping_address{
    margin-top: 1vh;
    margin-bottom:  vh;
    font-size: 5vh;
}
.email_address{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.first_name{
    width: 29vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.last_name{
    width: 28.55vw;
    height: 7vh;
    margin-left: 2vw;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.company{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.address{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.appartment{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.zipcode{
    width: 18.2vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.city{
    width: 19vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
    margin-left: 0.5vw;
}
.state{
    width: 19vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.phone_number{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.country{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
    border: 2px solid black;
}

#textarea{
    width: 59vw;
    height: 20vh;
    padding-left: 1vw;
    padding-top: 1vw;
    margin-left: 0.5vw;
}

.submit{
    padding: 1vh;
    background-color: rgb(29, 116, 202);
    border: 0;
    border-radius: 0.3em;
    width: 60vw;
    margin-left: 0.5vw;
    color: white;
    font-size: 4vh;
    font-weight: normal;
    min-height: 7vh;
    transition: 1s all;
    margin-top: 1vh;
}
.submit:hover{
    background-color: rgba(29, 116, 202, 0.774);
}
.agreement_box{
    padding-top: 1vh;
    margin-left: 0.5vw;
    margin-right: 0.3vw;
}
.agreement_text{
    font-size: 3vh;
}
.strict{
    color: green;
    text-decoration: underline;

}


/* 
.accordion{
    background-color: white;
    width: 60vw;
} */





.pricing_div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.prining_header{
    text-align: center;
}
.spaced{
    margin-left: 3vw;
}
.refuse_weight{
    width: 2.5vw;
}
.our_price{
    font-size: 3vh;
}
.date{
    font-size: 3vh;
    /* margin-left: 10vw; */
}
.time{
    font-size: 3vh;
    margin-left: 3vw;
}
.budget{
        font-size: 3vh;
        margin-left: 3vw;
}
#budget_input{
    width: 10vw;
}