*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f4f4f4d7;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;
}
a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(142, 21, 255);
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 12vh;
    /* position: relative; */
   }
   .nav-links a {
    color: black;
   }
   .logo {
    font-size: 32px;
   }
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }

   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }

   .menu li {
    padding: 5px 14px;
   }
   
   .services {
    position: relative; 
   }

   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position:fixed; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: white;
   }
   .services:hover .dropdown {
    display: block;
   }
   /* input[type=checkbox]{
    display: none;
   }
   input[type=checkbox]{
    display: none;
   }  */
   #checkbox_toggle{
       display: none;
   }
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:black;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu  li:hover {
    display: inline-block;
    background-color:black;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: black;
   }
   }
   .hero_image{
    background-image: url(Images/project_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    max-width: 100%;
  }
  
  
.signup_btn{
    color: white;
    border: 0;
    padding: 1vh;
    background-color: #0353e7;
    width: 10vw;
    border-radius: 0.2em;
    font-size: 3vh;
    margin-right: 2vw;
    position: absolute;
    left: 80vw;
}
.signin_link{
    color: white;
    text-decoration: none;
}
.signin_link:hover{
    color: white;
}
#carouselExampleIndicators{
    margin-top: 20;
}
.housing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    width: 80vw;
    margin-left: 8vw;
    margin-top: 5vh;
}
.housing_img{
    width: 40vw;
}
/* .navbar{
    display: flex;
    height: 15vh;
    background-color: #5577B4;
    box-shadow: 3px 3px 5px black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar ul{
    display: flex;
    list-style: none;

}
.navbar ul li{
    padding-left: 3vw;
    padding-top: 5vh;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
    font-size: 4vh;
} */
.navbar{
    width: 100%;
    position: fixed;
    height: 12vh;
    color: white;
    z-index: 1;
}
.container{
    margin-left: 18vw;
    margin-top: 10vh;
    background-color: white;
    padding: 3vh;
    width: 63vw;
    border-radius: 0.5em;
}
.customer_info{
    margin-top: 1vh;
    font-weight: normal;
    font-size: 5vh;
    text-align: center;
}
.shopping_address{
    margin-top: 1vh;
    margin-bottom:  vh;
    font-size: 5vh;
}
.email_address{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.first_name{
    width: 29vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.last_name{
    width: 28.55vw;
    height: 7vh;
    margin-left: 2vw;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.company{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.address{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.appartment{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.zipcode{
    width: 18.2vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.city{
    width: 19vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
    margin-left: 0.5vw;
}
.state{
    width: 19vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.phone_number{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
}
.country{
    width: 59vw;
    height: 7vh;
    border-radius: 0.3em;
    padding-left: 1vw;
    margin: 1vh;
    border: 2px solid black;
}

#textarea{
    width: 59vw;
    height: 20vh;
    padding-left: 1vw;
    padding-top: 1vw;
    margin-left: 0.5vw;
    margin-top: 1vh;
}

.submit{
    padding: 1vh;
    background-color: rgb(29, 116, 202);
    border: 0;
    border-radius: 0.3em;
    width: 60vw;
    margin-left: 0.5vw;
    color: white;
    font-size: 4vh;
    font-weight: normal;
    min-height: 7vh;
    transition: 1s all;
    margin-top: 1vh;
}
.submit:hover{
    background-color: rgba(29, 116, 202, 0.774);
}
.agreement_box{
    padding-top: 1vh;
    margin-left: 0.5vw;
    margin-right: 0.3vw;
}
.agreement_text{
    font-size: 3vh;
}
.strict{
    color: green;
    text-decoration: underline;

}


/* 
.accordion{
    background-color: white;
    width: 60vw;
} */





.pricing_div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.prining_header{
    text-align: center;
}
.spaced{
    margin-left: 3vw;
}
.refuse_weight{
    width: 2.5vw;
}
.our_price{
    font-size: 3vh;
}
.date{
    font-size: 3vh;
    /* margin-left: 10vw; */
}
.time{
    font-size: 3vh;
    margin-left: 3vw;
}
.budget{
        font-size: 3vh;
        margin-left: 3vw;
}
#budget_input{
    width: 10vw;
}
















.footer_section{
    margin-top: 10vh;
    background-color: rgb(153, 152, 151);
    padding-top: 5vh;
    padding-bottom: vh;
  }
  .footer_lists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
    margin-left: 10vw;
  }
  .copyright{
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 1vh;
    padding: 2vh 0;
    background: white;
  }
  
  
  


  @media (max-width: 700px) {
      .container{
          padding: 2vw;
          width: 95%;
          margin-left: 8vw;
      }
      .email_address, .company, .country, .phone_number{
          width: 73vw;
      }
      .first_name, .last_name{
          width: 35vw;
      }
      .zipcode, .city, .state{
          width: 22.5vw;
      }
      .pricing_div{
          grid-template-columns: 1fr 1fr 1fr;
      }
      .spaced{
          margin: 0;
      }
      #textarea{
          width: 74vw;
      }
      .submit{
          width: 75vw;
      }
      .budget{
          margin-left: 15vw;
          margin-top: 2vh;
      }
  }